.cripto {
    border: 1px solid skyblue;
    border-left: 10px solid skyblue;
    border-radius: 5px;
    padding: 1rem;
}

.info {
    color: rgb(191, 191, 191);
}

.label {
    color: skyblue;
}

.positivo {
    color: #4caf50;
}

.negativo {
    color: #f44336;
}