.loader-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh;
    color: #00d4ff;
    font-family: sans-serif;
    gap: 20px;
}

.spinner {
    width: 50px;
    height: 50px;
    border: 5px solid rgba(0, 212, 255, 0.1);
    border-top: 5px solid #00d4ff; /* Color neón */
    border-radius: 50%;
    animation: spin 1s linear infinite;
    box-shadow: 0 0 15px rgba(0, 212, 255, 0.5);
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}